<!-- views/index.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Wordle</title>
  </head>
  <body>
    <h1>Welcome to Wordle!!</h1>
    <p>Guess the 5-letter word in 6 tries...</p>
  </body>
</html>
