<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miffle</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="title">
      <img src="/images/MIFFLE.svg" alt="WORDLE" />
    </div>
    <h2>guess the word!</h2>
    <div class="selection-btns">
      <button><a href="/">play</a></button>
      <button><a href="/instructions">how to play</a></button>
    </div>
    <div class="miffy-top">
        <img src="/images/miffy-blue-balloon.png" alt="miffy" />
    </div>
    <div class="miffy-bottom">
      <img src="/images/miffy-red-balloon.png" alt="miffy" />
    </div>
  </body>
</html>
