<!-- views/index.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructions</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body id="instructions">
    <div class="layer">
      <div class="title"><h1>how to play</h1></div>
      <div class="instructions-list">
        <span>
          <img src="images/list-icon.png" alt="miffy icon">
          <p>try to guess the word in 6 tries</p>
        </span>
        <span>
          <img src="images/list-icon.png" alt="miffy icon">
          <p>each guess must be a valid 5-letter word</p>
        </span>
        <span>
          <img src="images/list-icon.png" alt="miffy icon">
          <p>the colour of the tiles will reflect how close your guess is to the word</p>
        </span>
        <span>
          <img src="images/list-icon.png" alt="miffy icon">
          <p>green means its a correct letter in the correct place</p>
        </span>
        <span>
          <img src="images/list-icon.png" alt="miffy icon">
          <p>yellow means its a correct letter but in the wrong place</p>
        </span>
        <span>
          <img src="images/list-icon.png" alt="miffy icon">
          <p>red means it in an incorrect letter</p>
        </span>
      </div>
      <div style="display: flex; justify-content: center;">
        <button><a href="/">main menu</a></button>
      </div>
    </div>
  </body>
</html>
