<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miffle</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body id="play">
    <div class="layer">
      <div class="game-grid">
        <!-- row 1 -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <!-- row 2 -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <!-- row 3 -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <!-- row 4 -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <!-- row 5 -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <!-- row 6 -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="keyboard-grid">
        <div class="row1">
          <div class="cell" data-key="Q">Q</div>
          <div class="cell" data-key="W">W</div>
          <div class="cell" data-key="E">E</div>
          <div class="cell" data-key="R">R</div>
          <div class="cell" data-key="T">T</div>
          <div class="cell" data-key="Y">Y</div>
          <div class="cell" data-key="U">U</div>
          <div class="cell" data-key="I">I</div>
          <div class="cell" data-key="O">O</div>
          <div class="cell" data-key="P">P</div>
        </div>
        <div class="row2">
          <div class="cell" data-key="A">A</div>
          <div class="cell" data-key="S">S</div>
          <div class="cell" data-key="D">D</div>
          <div class="cell" data-key="F">F</div>
          <div class="cell" data-key="G">G</div>
          <div class="cell" data-key="H">H</div>
          <div class="cell" data-key="J">J</div>
          <div class="cell" data-key="K">K</div>
          <div class="cell" data-key="L">L</div>
        </div>
        <div class="row3">
          <div class="cell special-key" data-key="ENTER">ENTER</div>
          <div class="cell" data-key="Z">Z</div>
          <div class="cell" data-key="X">X</div>
          <div class="cell" data-key="C">C</div>
          <div class="cell" data-key="V">V</div>
          <div class="cell" data-key="B">B</div>
          <div class="cell" data-key="N">N</div>
          <div class="cell" data-key="M">M</div>
          <div class="cell special-key" data-key="BACKSPACE">⌫</div>
        </div>
      </div>
      <div class="miffy-side">
        <img src="images/miffy-walk.png" alt="" />
      </div>
      <div class="home-btn"><a href="/">🏠︎</a></div>
    </div>

    <div id="result-modal" class="modal hidden">
      <div class="modal-content">
        <div class="layer2">
          <div class="success-title">
            <img src="svg/CONGRATS.svg" alt="Congrats" />
          </div>
          <div class="fail-title">
            <img src="svg/UH-OH.svg" alt="Uh-oh" />
          </div>
          <div class="result">
            <h2>the word is:</h2>
            <div class="answer-box"><p id="answer-text"><%= @target_word %></p></div>
          </div>
          <div class="selection-btns">
            <button><a href="">play again</a></button>
            <button><a href="/">main menu</a></button>
          </div>
          <div class="miffy-success">
            <img src="images/miffy-bear.png" alt="" />
          </div>
          <div class="miffy-fail">
            <img src="images/miffy-blue.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
