<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miffle</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body id="success">
    <div class="layer">
      <div class="title2">
        <img src="images/CONGRATS.svg" alt="Congrats" />
      </div>
      <div class="result">
        <h2>the word is:</h2>
        <div class="answer-box"></div>
      </div>
      <div class="selection-btns">
        <button><a href="">play again</a></button>
        <button><a href="/">main menu</a></button>
      </div>
      <div class="miffy-success">
        <img src="images/miffy-bear.png" alt="">
      </div>
    </div>
  </body>
</html>
