:root {
    --background-color: #FEF5D8;
    --red: #F46523;
    --yellow: #FED105;
    --green: #346A2E;
    --blue: #045698;
    --font-family: 'Nunito', sans-serif;
    --border-radius: 8px;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#instructions {
    background-color: var(--yellow);
}

#play {
    background-color: var(--blue);
}

h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

button {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 35px;
    color: black;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
}

button:hover {
    background-color: var(--yellow);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.layer {
    background-color: var(--background-color);
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 25px;
    left: 25px;
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;
    }

    h1 {
        border: 3px solid black;
        border-radius: 60px;
        padding: 10px 30px;
        font-size: 35px;
    }
}

.instructions-list {
    padding-left: 4rem;

    span {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    p {
        font-size: 25px;
        font-weight: bold;
        margin: 0;
    }
    
    img {
        width: 40px;
        height: auto;
    }
}

.selection-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.miffy-bottom img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: auto;
}

.miffy-top img {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
}